{% extends 'base.html.twig' %}

{% block title %}Movies{% endblock %}

{% block body %}
    <h1>Movies</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ movie.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ movie.title }}</td>
            </tr>
            <tr>
                <th>Synopsis</th>
                <td>{{ movie.sumary }}</td>
            </tr>
            <tr>
                <th>Affiche du film</th>
                <td>
                    <img style="width: 100px;" src="{{ movie.image }}" alt=""></td>
            </tr>
            <tr>
                <th>Année de sortie</th>
                <td>{{ movie.releaseYear ? movie.releaseYear|date('Y-m-d') : '' }}</td>
            </tr>

        </tbody>
    </table>

    <a class="btn btn-info" href="{{ path('movies_index') }}">Retour à la liste</a>

    <a class="btn btn-info" href="{{ path('movies_edit', {'id': movie.id}) }}">Modifier</a>

    {{ include('movies/_delete_form.html.twig') }}
{% endblock %}
