{% extends 'base.html.twig' %}

{% block title %}Actors index{% endblock %}

{% block body %}

    <h1 style="padding: 30px; text-align: center;">Acteurs</h1>
    <div style="padding: 30px; display: flex; flex-direction: row; justify-content: space-evenly;">

    {% for actor in actors %}

        {#  <div class="card" style="width: 20rem; display: flex; flex-direction: row; justify-content: space-evenly; background-color: indianred">#}
        {# <img src="{{ actor.image }}" class="card-img-top" alt="..."> #}
        <div class="card-body" style="background-color: lightblue ; box-shadow: 10px 5px 5px lightgrey; border-radius: 20px; width: 20%; display: flex; flex-direction: column; justify-content: flex-start; flex-wrap: wrap; padding: 20px; margin-right: 30px;">
            <h3 class="card-title"
                style=" text-align: center;">{{ actor.firstName }} {{ actor.lastName|upper }}</h3>
            <h5 class="card-text">Date de naissance : </h5>
            <p>{{ actor.dateOfBirth ? actor.dateOfBirth|date('d-m-Y') : '' }}</p>
            <p class="card-text" style="text-align: justify; height: 180px;">{{ actor.bio }}</p>
            <div style="display: flex; flex-direction: row; justify-content: center;">
            <a href="{{ path('actors_show', {'id': actor.id}) }}" style="width:50px; " class="btn btn-info" >Voir</a>
            <a href="{{ path('actors_edit', {'id': actor.id}) }}" class="btn btn-info" style="margin-left: 30px">Modifier</a>
        </div> </div>

       {#  </div>#}
    {% else %}
        <p>no records found</p>

    {% endfor %}
    </div>
    <div style="padding: 30px; display: flex; flex-direction: row; justify-content: center;">
    <a href="{{ path('actors_new') }}" class="btn btn-info" style="margin: 40px;">Nouvel acteur</a>
    </div>
    <div/>
    </div>



{% endblock %}
