{% extends 'base.html.twig' %}

{% block title %}Actors{% endblock %}

{% block body %}
    <h1>Acteurs</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ actor.id }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ actor.firstName }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ actor.lastName }}</td>
            </tr>
            <tr>
                <th>Date de naissance</th>
                <td>{{ actor.dateOfBirth ? actor.dateOfBirth|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Biographie</th>
                <td>{{ actor.bio }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-info" href="{{ path('actors_index') }}">Retour à la liste</a>

    <a class="btn btn-info" href="{{ path('actors_edit', {'id': actor.id}) }}">Editer</a>

    {{ include('actors/_delete_form.html.twig') }}
{% endblock %}
