{% extends 'base.html.twig' %}

{% block title %}Director index{% endblock %}

{% block body %}
    <h1>Director index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Date de naissance</th>
                <th>Biographie</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for director in directors %}
            <tr>
                <td>{{ director.id }}</td>
                <td>{{ director.firstName }}</td>
                <td>{{ director.lastName }}</td>
                <td>{{ director.dateOfBirth ? director.dateOfBirth|date('Y-m-d') : '' }}</td>
                <td>{{ director.bio }}</td>
                <td>
                    <a style="width:80px; margin-bottom: 10px;" class="btn btn-info" href="{{ path('director_show', {'id': director.id}) }}">Voir</a>
                    <a style="width:80px;" class="btn btn-info" href="{{ path('director_edit', {'id': director.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-info" href="{{ path('director_new') }}">Nouveau</a>
{% endblock %}
